{% extends 'orphanage.html' %}

  {% block style %}
    <style>
          .btn-primary{
            background:linear-gradient(to left,blueviolet,violet);
          }
          .btn-primary:hover{
            background:linear-gradient(to left,rgb(107, 33, 177),rgb(184, 99, 184));
          }
          .des{
          font-family:Helvetica;
          }
    </style>
  {% endblock %}

  {% block content %}
    {% if messages %}
      {% for message in messages %}
        <center><h2 class="mb-3" style="color: green">{{message}}</h2></center>
      {% endfor %}
    {% endif %}
    
    {% if check %}
    <div class="add_events-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-6 fw-normal">Add your Events</h1>
    </div>
    <div style="margin-bottom: 20vh; border: 2px solid green; border-radius: 5px; padding: 20px;">
    <h2>{{check}}</h2>
    </div>
    {% else %}
      {% if check2 %}
        <div class="add_events-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-6 fw-normal">Edit your Events</h1>
        </div>
        <div class="form" style="margin-bottom: 20vh; border: 2px solid green; border-radius: 5px; padding: 20px;">
          <form action="add_events" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
              <label for="formGroupExampleInput">Event Name</label>
              <input type="text" name="e_name" class="form-control" id="formGroupExampleInput" placeholder="Give the name of your event">
            </div>
            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
                <label for="exampleFormControlTextarea1"class="des">Event Description</label>
                <textarea class="form-control" name="e_desc" id="exampleFormControlTextarea1" rows="3" placeholder="Give a short description"></textarea>
            </div>

            <div class="form-group px-3 mb-3" style="font-family:Helvetica;">
              <label for="exampleFormControlFile1" style=" font-size: 20px;">Upload a photo of Event</label><br>
              <input type="file"  name="e_img" class="form-control-file" id="exampleFormControlFile1">
            </div>

            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
              <label for="formGroupExampleInput">Start Date</label>
              <input type="date"  name="e_sdate" class="form-control" id="formGroupExampleInput">
            </div>

            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
              <label for="formGroupExampleInput">End Date</label>
              <input type="date" name="e_edate" class="form-control" id="formGroupExampleInput">
            </div>
              
            <div class="button px-1"style="font-family:Helvetica; margin-left: 0.8vw; font-size: 20px;">   
                <input type="submit" class="btn btn-primary text-center btn-md">
            </div>
          </form>
        </div>
      {% else %}
        <div class="add_events-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-6 fw-normal">Add your Events</h1>
        </div>
        <div class="form" style="margin-bottom: 20vh; border: 2px solid green; border-radius: 5px; padding: 20px;">
          <form action="add_events" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
              <label for="formGroupExampleInput">Event Name</label>
              <input type="text" name="e_name" class="form-control" id="formGroupExampleInput" placeholder="Give the name of your event">
            </div>
            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
                <label for="exampleFormControlTextarea1"class="des">Event Description</label>
                <textarea class="form-control" name="e_desc" id="exampleFormControlTextarea1" rows="3" placeholder="Give a short description"></textarea>
            </div>

            <div class="form-group px-3 mb-3" style="font-family:Helvetica;">
              <label for="exampleFormControlFile1" style=" font-size: 20px;">Upload a photo of Event</label><br>
              <input type="file"  name="e_img" class="form-control-file" id="exampleFormControlFile1">
            </div>

            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
              <label for="formGroupExampleInput">Start Date</label>
              <input type="date"  name="e_sdate" class="form-control" id="formGroupExampleInput">
            </div>

            <div class="form-group px-3 mb-3" style="font-family:Helvetica; font-size: 20px;">
              <label for="formGroupExampleInput">End Date</label>
              <input type="date" name="e_edate" class="form-control" id="formGroupExampleInput">
            </div>
              
            <div class="button px-1"style="font-family:Helvetica; margin-left: 0.8vw; font-size: 20px;">   
                <input type="submit" class="btn btn-primary text-center btn-md">
            </div>
          </form>
        </div>
      {% endif %}
      
    {% endif %}

  {% endblock %}