{% extends 'authform2.html' %}

  {% block style %}
    <style>
        body{ margin: 0px;}
        h3{color:rgb(248, 227, 227); font-family: 'Rubik', sans-serif;}
        input{ border-radius: 5px; font-size:25px; background-color: rgb(250, 250, 250); font-family: 'Rubik', sans-serif; margin-left: 50px; margin-right: 50px;}
        input[type="submit"]{ background-color: rgb(163, 216, 234); color:rgb(73, 22, 112); border-color: rgb(79, 172, 203); font-weight: bolder; font-family: 'Rubik', sans-serif;}
        input[type="submit"]:hover{ color: rgb(73, 22, 112); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.412); font-weight: bold; font-size: 26px;}
        .gradient-custom {
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
        height: fit-content; width: fit-content; border-radius: 10px;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.716); 
        }

        .d {font-family: 'Rubik', sans-serif; color:rgb(54, 255, 151);}
    </style>
  {% endblock %}

  {% block content %}
    <section class="gradient-custom">
      <center><form action="signin" method="post" style="margin-top: 40px; padding: 40px;">
          {% csrf_token %}

          <input type="text" name="username" placeholder="Username" required><br>
          <input type="password" name="password" placeholder="Password" required><br><br>
          <input type="Submit" value="Signin">

          <div>
          {% for message in messages %}
              <h3>{{message}}</h3>
          {% endfor %}
          </div>

          <h3 class="b">Not Registered yet, then <a href="signup" class="d">click here</a> to signup</h3>

      </form></center>
    </section>
  {% endblock %}